html, body, #wrapper {
	margin: 0;
	padding: 0;
	
}
body {
		padding: 0;
		margin: 0;
		font-size:18px;
        font-family:arial, sans-serif;
        font-size: 30px;
        text-align: center;
        background-image: url(image/background);
		background-attachment:fixed;
		background-repeat:no-repeat;
		background-size:cover; 
		width:100%;
		
		
    } 
	
#home {
	float:right;
	
}